.list-group {
    margin: 20px;
}

.fas {
    float: right;
}

.list-group-item {
    width: 100%;
    /* display: flex; */
} 
.details {
    /* display: inline; */
    float: right;
    margin-right: 10px;
} 


  