.left-side {
    background-color: #f6e7a8;
}

.right-side {
    background-color: #8ec9ac;
}
  
ul {
    margin: 0; 
    padding:0
  }

  .list-group-item {
      margin-bottom: 1rem;
      max-width: 21rem;
  }