input[type="checkbox"] {
  /* -webkit-appearance:none; */
  width: 20px;
  height: 20px;
  background: lightsteelblue;
  border-radius: 5px;
  border: 2px solid #34495e;
  margin-right: 3px;
}
input[type="checkbox"]:checked {
  background: #abd;
  margin-right: 3px;
}

.form-check {
  margin: 2px;
}
.form-check-label {
  color: #f1c40f;
  font: 16pt;
  margin-left: 5px;
  padding: 2px;
}

.group {
  background-color: rgba(52, 152, 219, 0.3);
  border-radius: 25px;
  border-left: 2px solid #ecf0f1;
  border-top: 2px solid #ecf0f1;
  border-right: 2px solid #c0cdd1;
  border-bottom: 2px solid #c0cdd1;
  -moz-border-radius: 25px;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.15);
  margin: 0px 2px 2px 0px;
  padding-bottom: 25px;
  color: #f1c40f;
}

.group-header {
  margin-top: 10px;
  padding: 3px;
  color: #f1c40f;
  text-align: center;
}

.group-text {
  color: #f1c40f;
  font-size: 18pt;
  padding: 5px;
}

.toggleGroup {
  width: 100%;
  text-align: center;
  font-size: 16pt;
}

.toggleOn {
    color: #f1c40f;
    cursor: default;
}

.toggleOff { 
    color: #3498db;
    text-decoration: underline; 
    cursor: pointer;
}

.text {
	padding-top: 12px;
}

@media screen and (max-width: 480px) {
	.mobile-margin {
		margin: 2px 2px 2px 15px;
	}

	.group {
		margin: 0px 0px 2px 0px;
	}

	#guage-chart {
		padding: 12px 10px 25px 1px;
	}

	.recharts-surface {
		max-width: 374px;
	}
}