img {
  width: 100%;
}

.subLogo {
  /* width: 50%; */
  animation: nudge 15s linear infinite;
}

@keyframes nudge {
  0% {
    transform: translate(-500px, 0);
  }
  
  /* 50% {
    transform: translate(500px, 0);
  } */
  
  100% {
    transform: translate(1200px, 0);
  }
}