/* Subscription page style.css */

.form-holder {
  background-color: rgba(52, 152, 219, 0.3);
  border-radius: 25px;
  border-left: 2px solid #ecf0f1;
  border-top: 2px solid #ecf0f1;
  border-right: 2px solid #c0cdd1;
  border-bottom: 2px solid #c0cdd1;
  -moz-border-radius: 25px;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.15);
}

.App {
  margin-left: 15px;
}

.row {
  margin-left: 0px;
}

.container {
  padding-left: 0px;
}

.header-div {
  padding-bottom: 6px;
}
@media screen and (max-width: 480px) {
  .cost {
    margin-bottom: 0rem;
  }
}
