img {
  width: 25rem;
}

.subLogo-2 {
  height: 0;
  animation: bump 4s linear infinite;
}

@keyframes bump {
  0% {
    transform: translate(3rem, 1rem);
  }
  
  50% {
    transform: translate(3rem, -4rem);
  }
  
  100% {
    transform: translate(3rem, 1rem);
  }
}