/* #sub-form {
  font-size: 18px;
  max-width: 21rem;
} */

/* .right-side {
  padding: 25px 40px;
} */

.Formfield__Button {
  background-color: #34495e;
  color: #f1c40f;
  border-radius: 25px;
  padding: 10px 25px;
  font-size: 1em;
  font-weight: 500;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.15);
}

.form {
  min-height: 100%;
}
