#sub-form {
    /* margin-top: 50px; */
    font-size: 18px;
    max-width: 21rem;
}

.left-side {
  background-color: #f6e7a8;
  /* height: 100vh; */
}

.right-side {
  background-color: #8ec9ac;
  padding: 25px 40px;
}

.Formfield__Button {
    background-color: #F7C558;
    color: white;
    border-radius: 25px;
    padding: 10px 25px;
    font-size: 1em;
    font-weight: 500;
  }