/* SubForm component style.css */

.subscription-page-button {
  background-color: #34495e;
  color: #f1c40f;
  border-radius: 25px;
  padding: 10px 25px;
  font-size: 1em;
  font-weight: 500;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.15);
  margin-left: 25px;
}

.form {
  min-height: 100%;
}

#sub-form {
  color: #f1c40f;
  background-color: rgb(52, 73, 94, 0.33);
  border-radius: 25px;
  border-left: 2px solid #ecf0f1;
  border-top: 2px solid #ecf0f1;
  border-right: 2px solid #c0cdd1;
  border-bottom: 2px solid #c0cdd1;
  -moz-border-radius: 25px;
  padding: 10px;
  margin: 10px 0px 15px 0px;
}

label {
  font-weight: 500;
}

.cost {
  margin-bottom: 1rem;
}

button {
  border-left: 1.5px solid #ecf0f1;
  border-top: 1.5px solid #ecf0f1;
  border-right: 1.5px solid #c0cdd1;
  border-bottom: 1.5px solid #c0cdd1;
}

@media screen and (max-width: 480px) {
  .subscription {
    padding: 0;
  }
  #sub-form {
    margin:0px 0px 2px 0px;
    background: none;
    border: none;
    padding: 10px 0px;
  }

  .col-sm {
    padding: 0px 10px;
  }

  .subscription-page-button {
    margin:12px 0px 0px 21px;
    /* margin-top */
  }
}
