nav {
  background-color: #34495e;
  padding: 0.4rem;
  border-bottom: 3px solid #f1c40f;
}

h1,
.font {
  color: #f1c40f;
  font-size: 3rem;
  font-family: "Pacifico", cursive;
  text-shadow: -1px -1px 0 #3498db, 1px -1px 0 #3498db, -1px 1px 0 #3498db,
    1px 1px 0 #3498db;
}

.top {
  width: 390px;
  margin: 1rem;
  min-height: 3rem;
  /* margin: 0 auto; */
}

.row {
  margin-right: 0;
}

.buttons {
  background-color: #34495e;
  color: #f1c40f;
  border-radius: 25px;
  padding: 10px 25px;
  font-size: 1em;
  font-weight: 500;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.15);
}