nav {
  background-color: #34495e;
  padding: 0.4rem;
  border-bottom: 3px solid #f1c40f;
}

Link {
  background-color:pink;
}

.font {
  color: #f1c40f;
  font-size: 3.4rem;
  font-family: "Pacifico", cursive;
  text-shadow: -1px -1px 0 #3498db, 1px -1px 0 #3498db, -1px 1px 0 #3498db,
    1px 1px 0 #3498db;
}

.top {
  width: 390px;
  margin: 1rem;
  min-height: 3rem;
  /* margin: 0 auto; */
}

.row {
  margin-right: 0;
}

.nav-buttons {
  background-color: #34495e;
  color: #f1c40f;
  width: 149px;
  border-radius: 25px;
  padding: 10px 21px;
  font-size: 1em;
  font-weight: 500;
  border-left: 1px solid #ecf0f1;
  border-top: 1px solid #ecf0f1;
  border-right: 1px solid #c0cdd1;
  border-bottom: 1px solid #c0cdd1;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.15);
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  float: right;
}

a {
  color: #f1c40f;
}

a:hover {
  color: #f1c40f;
  text-decoration: none;
}

.buttons:hover {
  color: #f1c40f;
  background-color: #3d5f81;
}

.button-holder {
  padding: 8px 5px 0px 0px;
}

@media screen and (max-width: 480px) {
  .nav-buttons {
    width: 143px;
    margin: 0px 10px;
    /* border-color: #f1c40f; */
  }

  .button-holder {
    margin: 0 auto;
  }
  .center-mobile {
    text-align: center;
  }

  nav {
    background-color:  rgba(0, 0, 0, 0);
    border-bottom: none;
  }
}
